body {
    background: linear-gradient(90deg, #161122 21px, transparent 1%) center, linear-gradient(#161122 21px, transparent 1%) center, #a799cc;
    background-size: 22px 22px;
}

h1
{
    margin-bottom: 20px;
    font-size: 40pt;
}